vendor/
node_modules/
var/cache/
var/log/
var/sessions/
public/build/
.git/
.github/
.idea/
.vscode/
docs/
docker-compose*.yml
.env.local
.env.*.local
.phpunit.result.cache
phpunit.xml
tests/
*.log
*.md
*.cache
*.swp
*.swo
.DS_Store
