# IDE files
.idea
.idea/
.idea/*
.vscode/

# Symfony cache and logs
/var/cache/
/var/log/
/var/sessions/

# Composer dependencies
/vendor/

# Node.js dependencies
/node_modules/
# Asset Mapper vendor files
/assets/vendor/
# Environment variables
.env
.env.local
.env.*.local

# Build files
/public/build/
/public/bundles/

/public/calls-data

# Testing files
.phpunit.result.cache

# Temporary and system files
*.log
*.cache
*.swp
*.swo
.DS_Store
.github/
